<footer aria-label="Footer" role="contentinfo">
	<div class="container-fluid footer-wrapper">
		<div class="container">
			<!-- Begin included content (from /TemplatePackage/4.0/includes/footer-cdc.html) -->
			<div class="row">
				<address class="col-md-3" itemscope="itemscope" itemtype="https://schema.org/Organization">
					<strong>CONTACT CDC-INFO</strong>
					<div class="row mt-2">
						<div class="col-1">
							<span aria-hidden="true" class="fi cdc-icon-phone x24"></span>
						</div>
						<div class="col">
							<span>Have questions? We have answers.</span> <span itemprop="telephone">1-800-CDC-INFO (800-232-4636)</span> <span itemprop="telephone">TTY: 888-232-6348</span>
						</div>
					</div>
					<div class="row mt-2">
						<div class="col-1">
							<span class="fi cdc-icon-email x24"></span>
						</div>
						<div class="col" itemprop="contactPoint" itemscope="itemscope" itemtype="https://schema.org/ContactPoint">
							<span itemprop="url"><a href="https://wwwn.cdc.gov/dcs/RequestForm.aspx">Email CDC-INFO</a></span>
						</div>
					</div>
				</address>
				<div class="col-md-3 mt-3 mt-md-0">
					<strong>CDC INFORMATION</strong>
					<ul>
						<li>
							<a href="https://www.cdc.gov/about/default.htm">About CDC</a>
						</li>
						<li>
							<a href="https://jobs.cdc.gov">Jobs</a>
						</li>
						<li>
							<a href="https://www.cdc.gov/funding">Funding</a>
						</li>
						<li>
							<a href="https://www.cdc.gov/Other/policies.html">Policies</a>
						</li>
						<li>
							<a href="https://www.cdc.gov/other/plugins/index.html">File Viewers &amp; Players</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3">
					<ul>
						<li>
							<a href="https://www.cdc.gov/Other/policies.html">Privacy</a>
						</li>
						<li>
							<a href="https://www.cdc.gov/od/foia">FOIA</a>
						</li>
						<li>
							<a href="https://www.cdc.gov/eeo/nofearact/index.htm">No Fear Act</a>
						</li>
						<li>
							<a href="https://oig.hhs.gov">OIG</a>
						</li>
						<li>
							<a href="https://www.cdc.gov/other/nondiscrimination.html">Nondiscrimination</a>
						</li>
						<li>
							<a href="https://www.cdc.gov/contact/accessibility.html">Accessibility</a>
						</li>
					</ul>
				</div>
				<div class="col-md-3 mt-2 mt-md-0 connect-icons">
					<strong>CONNECT WITH CDC</strong><br>
					<ul class="list-inline mt-3">
						<li>
							<a href="https://www.facebook.com/CDC" target="_blank"><span class="sr-only">Facebook</span><span aria-hidden="true" class="fi cdc-icon-fb-white x24"></span></a>
						</li>
						<li>
							<a href="https://twitter.com/CDCgov" target="_blank"><span class="sr-only">Twitter</span><span aria-hidden="true" class="fi cdc-icon-twitter-white x24"></span></a>
						</li>
						<li>
							<a href="https://www.youtube.com/user/CDCstreamingHealth" target="_blank"><span class="sr-only">Youtube</span><span aria-hidden="true" class="fi cdc-icon-youtube-white x24"></span></a>
						</li>
						<li>
							<a href="https://www.instagram.com/CDCgov/" target="_blank"><span class="sr-only">Instagram</span><span aria-hidden="true" class="fi cdc-icon-insta x24"></span></a>
						</li>
					</ul><br class="d-none d-md-block">
					<ul class="list-inline mt-2">
						<li>
							<a class="footer-syndlink" href="https://tools.cdc.gov/medialibrary/index.aspx#/sharecontent/https://www.cdc.gov/healthyyouth/about/index.htm"><span class="sr-only">Syndicate</span><span aria-hidden="true" class="fi cdc-icon-syndication-white x24"></span></a>
						</li>
						<li>
							<a href="https://www.cdc.gov/cdctv"><span class="sr-only">CDC TV</span><span aria-hidden="true" class="fi cdc-icon-cdc-tv-white x24"></span></a>
						</li>
						<li>
							<a href="https://tools.cdc.gov/podcasts/rss.asp"><span class="sr-only">RSS</span><span aria-hidden="true" class="fi cdc-icon-rss-white x24"></span></a>
						</li>
						<li>
							<a href="https://wwwn.cdc.gov/dcs/RequestForm.aspx"><span class="sr-only">Email</span><span aria-hidden="true" class="fi cdc-icon-email x24"></span></a>
						</li>
					</ul>
				</div>
			</div><!-- End included content (from /TemplatePackage/4.0/includes/footer-cdc.html) -->
		</div>
	</div>
	<div class="container-fluid agency-footer">
		<div class="container">
			<!-- Begin included content (from /TemplatePackage/4.0/includes/footer-agency.html) -->
			<div class="row" itemscope="itemscope" itemtype="https://schema.org/Organization">
				<div class="col-md-6 mt-1 mt-md-0">
					<span class="value" itemprop="contactPoint" itemscope="itemscope" itemtype="https://schema.org/ContactPoint"><span itemprop="url"><a href="https://www.hhs.gov">U.S. Department of Health &amp; Human Services</a></span></span>
				</div>
				<div class="col-md-3 mt-1 mt-md-0">
					<span class="value" itemprop="contactPoint" itemscope="itemscope" itemtype="https://schema.org/ContactPoint"><span itemprop="url"><a href="https://www.usa.gov/">USA.gov</a></span></span>
				</div>
				<div class="col-md-3 mt-1 mt-md-0">
					<span class="value"><span><a class="footer-ext" href="https://www.cdc.gov/Other/disclaimer.html">CDC Website Exit Disclaimer</a> <span class="sr-only">external icon</span><span aria-hidden="true" class="fi cdc-icon-external x16"></span></span></span>
				</div>
			</div><!-- End included content (from /TemplatePackage/4.0/includes/footer-agency.html) -->
		</div>
	</div>
</footer>