    <!-- Global / universal meta tags -->
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=Edge" />
	<meta content="width=device-width, initial-scale=1, shrink-to-fit=no" name="viewport" />
	<meta name="mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-capable" content="yes" />

	<link rel="shortcut icon" href="{{ "/imgs/favicon.ico"" | relative_url }}">
	<link rel="stylesheet prefetch" href="{{ "/assets/bootstrap.css" | relative_url }}?{{ site.time | date: '%m%d%Y' }}" />
	<link rel="stylesheet prefetch" href="{{ "/assets/app.css" | relative_url }}?{{ site.time | date: '%m%d%Y' }}" />
	<link rel="stylesheet" media="print" href="{{ "/assets/print.css" | relative_url }}?{{ site.time | date: '%m%d%Y' }}" />
