{% extends sourceAbsolute.layouts + layouts.includes %}{% block main %}
<!-- Application Requirements; Jquery, Bootstrap, AppJs  -->
{% if data.site.isDevTarget == true %}
{# Development Versions #}
<script src="{{data.site.paths.web.vendor.js}}jquery.min.js?{{ dateVars.nowUtc }}"></script>
<script src="{{data.site.paths.web.vendor.js}}bootstrap.bundle.js?{{ dateVars.nowUtc }}"></script>
{% if data.site.isIntranetTarget == true %}
<script src="{{data.site.paths.web.vendor.js}}typeahead/typeahead.bundle.js?{{ dateVars.nowUtc }}"></script>
{% endif %}
<script src="/TemplatePackage/contrib/libs/cdc/ab/4.0.0/ab.js"></script>
<script src="{{data.site.paths.web.js}}app.bundle.js?{{ dateVars.nowUtc }}"></script>
{% else %}
{# Minified Versions #}
<script src="{{data.site.paths.web.vendor.js}}jquery.min.js?{{ dateVars.nowUtc }}"></script>
<script src="{{data.site.paths.web.vendor.js}}bootstrap.bundle.min.js?{{ dateVars.nowUtc }}"></script>
{% if data.site.isIntranetTarget == true %}
<script src="{{data.site.paths.web.vendor.js}}typeahead/typeahead.bundle.min.js?{{ dateVars.nowUtc }}"></script>
{% endif %}
<script src="/TemplatePackage/contrib/libs/cdc/ab/4.0.0/ab.js"></script>
<script src="{{data.site.paths.web.js}}app.bundle.min.js?{{ dateVars.nowUtc }}"></script>
{% if data.site.isIntranetTarget == false %}
<!-- Foresee Survey Inclusion -->
<script src="{{data.site.paths.web.jscript.foresee}}foresee-trigger.js?{{ dateVars.nowUtc }}"></script>
{% endif %}
{% endif %}
<!-- @tp-wcms-metrics-scripts@ -->
{% endblock %}
