<div id="skipmenu">
	<a class="skippy sr-only-focusable" href="#content">Skip directly to site content</a>
	<a class="skippy sr-only-focusable" href="#share-nav">Skip directly to page options</a>
	<a class="skippy d-none d-lg-block sr-only-focusable" href="#az-large">Skip directly to A-Z link</a>
	<a class="skippy d-none d-md-block d-lg-none sr-only-focusable" href="#az-medium">Skip directly to A-Z link</a>
	<a class="skippy d-md-none sr-only-focusable" href="#az-small">Skip directly to A-Z link</a>
</div>
