body {
	padding-bottom: $page-padding-bottom;
	padding-left: $page-padding-left;
	padding-right: $page-padding-right;
	padding-top: $page-padding-top;

	// .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12, .col-8, .col-9, .col-10, .col-11 {
	// 	flex: 0 0 100%;
	// 	max-width:100%;
	// }

	// .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-1, .col-2, .col-3, .col-4 {
	// 	flex: 0 0 50%;
	// 	max-width: 50%;
	// }
}
