<!DOCTYPE html>
<html lang="en" class="theme-blue">
<head>
    <title></title>
    {%- include head-content.html -%}
</head>
<body class="no-js">
    {%- include skipmenu.html -%}

    <!-- (1) Global Alerts Area  -->
    {%- include global-alerts.html -%}
	<!-- (2) Intranet - Links Bar -->
	<!-- (3) Header Bar -->
	<div class="container-fluid header-wrapper">
		<div class="container">
			<header role="banner" aria-label="Header" class="pt-2 pb-2">
				<div class="row">
					<div class="col cdc-logo">
                        {%- include header-logo.html -%}
					</div>
					<div class="col-2 col-md-3 col-xl-4 col-xxl-3 tp-search">
                        {%- include header-search.html -%}
					</div>
				</div>
			</header>
		</div>
	</div>

	<!-- (4) Intranet Global -->

    <!-- (5 and 6) Site Title / Identity Area -->
	<div class="container-fluid site-title">
		<a href="##">
			<div class="container">
				<div class="row">
					<div class="col">
						<!-- (5) Site Title -->
                        <div class="display-6 text-white fw-500">Site Title</div>
                        <p class="tagline d-none d-md-inline-block">Tagline</p>
					</div>
					<div class="site-title-image col-lg-2 col-md-12">
						<!-- (6) Site Identity Area -->
					</div>
				</div>
			</div>
		</a>
	</div>

	<!-- (7) Mobile Nav -->
	<nav role="navigation" aria-label="Mobile Nav" id="mobilenav" class="sticky-top">
		<!-- Mobile Nav -->
	</nav>

	<!-- (8 and 9) Breadcrumbs and Page Share Area  -->
	<div class="container container-fluid breadcrumb-share">
		<div class="d-none d-lg-block">
			<div class="row">
				<!-- (8) Breadcrumbs Area -->
				<div class="col-sm-9">
					<!-- breadcrumbs -->
				</div>
				<!-- (9) Page Share -->
				<div class="col-sm-3 page-share">
                    <!-- page share -->
				</div>
			</div>
		</div>
	</div>

	<!-- (10) Feature Area -->
	<div class="container-fluid feature-area">
		<!-- Feature Area -->
	</div>

	<!-- Page Content Wrap (11 through 19) -->
	<div class="container d-flex flex-wrap body-wrapper">

		<!-- Content (13 through 19) -->
		<main class="container" role="main" aria-label="Main Content Area">
			<!-- (13) Visual Element -->
			<div class="row d-none d-md-block visual-element">
				<!-- Visual Element -->
			</div>
			<!-- (14) Audience Identity -->
			<div class="row audience-identity">
				<!-- audience identity -->
			</div>

			<!-- (DEV ONLY) Section Nav Area -->
			<!-- <div class="docs-right-rail">
				<nav role="navigation" aria-label="Section Nav" class="w-100 d-md-none sticky-top">
				</nav>
			</div> -->

			<!-- (17) Content Area -->
			<div class="row">
				<div class="col content">
					<!-- (15) Page Title -->
					<!-- (16) Page Language -->
                    <!-- (17) Content Area -->
                    {{ content }}
				</div>
            </div>

			<!-- (19) Page Format -->
			<div class="row">
				<div class="col page-format">
				</div>
			</div>

			<!-- (18) Persistent Content Area -->
			<div class="row"></div>

			<!-- (20) Date Updated -->
			<div class="row">
				<div class="col last-reviewed">
                </div>
			</div>
		</main>

		<!-- (11, 12) Left Nav / Bottom Nav and Under Left Nav -->
		<div class="col-lg-3 order-lg-1 leftnav-wrapper">
			<!-- (11) Left Nav (Bottom Nav on smaller viewports) -->

			<!-- (12) Under Left Nav (Hidden when left nav shifts to bottom nav ) -->
			<div class="row d-md-none">
				<div class="col under-left-nav">
				</div>
			</div>
		</div>
	</div>

	<!-- (21, 22) Footer Area -->
	{%- include footer.html -%}

	<!-- (23) Mobile Share Bar (Markup Only, Global Include) -->
	<!-- Extra needed, hidden page markup (modals etc) -->
	<!-- TEMPLATE SPECIFIC SCRIPTS -->
	{%- include scripts.html -%}

	<!-- TP4 App Init
	Self Init creates many issues with race conditions,
	This Allows for scripts to be loaded, and then fired
	when the page creator / developer wants it to happen
	-->
	<script>
		// Default Settings Object
		window.pageOptions = window.pageOptions || {};

		// Metrics Settings Overrides

		// Navigation Settings Overrides
		window.pageOptions.navigation = window.pageOptions.navigation || {}
		window.pageOptions.navigation.pathToSelect = window.pageOptions.navigation.pathToSelect || window.location.pathname;

		window.CDC.tp4.public.appInit(window.pageOptions);
	</script>

</body>
</html>
